.wrapper {
    width: 290px;
    margin: 0 auto;

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
}

@media (min-width: 780px) {
    .wrapper {
        width: 720px;
        margin: 0 auto;

        &_print {
            padding-left: 467px;
        }
    }
}

@media (min-width: 1920px) {
    .wrapper {
        width: 1170px;
    }
}
